<!DOCTYPE html>
<html>
    <head>
        <title>Casino fantome</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
         <!--<link rel="stylesheet" href="style5.css" type="text/css">
        <link rel="stylesheet" href="style9.css" type="text/css">
        <link rel="stylesheet" href="style10.css" type="text/css">-->
       
        <link rel="stylesheet" href="../static/css/style5_mobile.css" type="text/css"
        media="screen and (max-width: 899px)">
        <link rel="stylesheet" href="../static/css/style5_pc.css" type="text/css"
        media="screen and (min-width: 900px)"> 
       
        <link rel="stylesheet" href="../static/css/style11.css" type="text/css">
        <link rel="stylesheet" href="../static/css/style12.css" type="text/css">
       <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/style11.css') }}">
       <link rel="stylesheet" href="{{ url_for('static', filename='css/style5_mobile.css') }}" media="screen and (max-width: 899px)">
       <link rel="stylesheet" href="{{ url_for('static', filename='css/style5_pc.css') }}" media="screen and (min-width: 900px)">
       -->
        

    

    </head>
    <body>
<!--
<div id="loading">
  <div>G</div>
  <div>N</div>
  <div>I</div>
  <div>D</div>
  <div>A</div>
  <div>O</div>
  <div>L</div>
</div>
--><!--
<div id="loading">
    <div>G</div>
    <div>N</div>
    <div>I</div>
    <div>し</div>
    <div>試</div>
    <div>胸</div>
    <div>度</div>
    </div>

-->
    <div id="loading">
        <div class="text">
            <div class="r"> Loading now...</div>
            <div class="g">  Loading now...</div>
            <div class="b"> Loading now...</div>
    </div>
</div>
	



      <div class="parallax-bg">
        <h1 style="font-size:1.3rem; padding-top:30rem; font-family: kowai ;" class="skew" >
            最恐幽霊との度胸試し。<br>あなたはこの勝負にのりますか？</h1>
      </div>
        <!--<div class="scrollbox">スクロールコンテンツ</div>-->
        <section class="hero">
            <div class="video-box overlay">
              <video class="video" muted autoplay loop playsinline>
                <source src="../static/css/movies/casino.mp4" type="video/mp4">
              </video>
              <div class="text-box">
                <h1 style="font-family:serif; padding-top:30rem;">
                    <!--最恐幽霊との度胸試し。<br>あなたはこの勝負にのりますか？</h1>-->
              </div>
            </div>
          </section>

            <div class="box box1">
                <div class="overlay">
                    <div class="box-text">
                    <p>その昔この地には、貧しい者にも裕福な者にも、
                        挑戦すれば一攫千金の夢を与えるカジノハウスがあった。<br>
                        はじめこそ客の満足度を第一とした施設であったが、
                        認知度が上がり、利用客が増えるにつれ、
                        施設の利益を優先するようになっていった                     
                    </p>
                    </div>
                </div>
            </div>
            <div class="box box2">
                <div class="overlay">
                    <div class="box-text">
                    <p>利用客たちは以前に比べ勝ちにくくなったことに違和感を感じつつも、
                        以前味わった興奮をもう一度！と、金という金をつぎ込んでいった。<br>
                        一部の客は、生活費を切り崩してでも金をつぎ込み、
                        勝ちにこだわるようになった。<br>
                        ついには、ありったけの金をすべて賭けに使ってしまい生活が困難になり、
                        カジノハウスを恨みながら死んでしまう者や、

                    </p>
                    </div>
                </div>
            </div>
            <div class="box box3">
                <div class="overlay">
                    <div class="box-text">
                    <p>依存症になり自暴自棄になって自殺
                        してしまう者もあらわれた。
                        その後、カジノハウスは悪評が流れ始め、だんだんと廃れていき、
                        閉店せざるを得なくなった。<br>
                        建物自体は立派なものだったが、立地が悪いために
                        買い手が見つかることはなく、とうとう取り壊されることになった。                   
                        </p>
                    </div>
                </div>
            </div>
            <div class="box box4">
                <div class="overlay">
                    <div class="box-text">
                    <p>しかし、取り壊し工事が始まると、原因不明の事故が起きたり、
                        作業員が怪我をしたりと、不可解な出来事が次から次に起こった。<br>
                        更に、ルーレットを回し続ける幽霊を見た作業員が霊媒師に相談すると、
                        そこには、カジノハウスを恨む霊が大量に住み憑いていることが判明した。
                        </p>
                    </div>
                </div>
            </div>
            <div class="box box5">
                <div class="overlay">
                    <div class="box-text">
                    <p>噂が広まり誰も近づかなくなった<br>カジノハウス。<br>
                        取り壊しは中止され、今もなお、森の中にひっそりと佇んでいる。<br>
                    </p>
                </div>
            </div>
            </div>
            
            <div class="box box5 sp">
                
                <div class="video-box overlay">
                  <video class="video" muted autoplay loop playsinline>
                    <source  src="../static/css/movies/casinof_mini6.mp4" type="video/mp4">
                    
                  </video>
                  </div>
                  </div>
                
                
                
                    <div class="box box5 pc">
                        
                        <div class="video-box overlay">
                          <video class="video" muted autoplay loop playsinline>
                            
                            <source src="../static/css/movies/casinof3.mp4" type="video/mp4">
                          </video>
                          </div>
                          </div>
                        

      <!--   <script src="javascript/js9.js"></script> -->
         <!-- JavaScript読込 -->
            <script type="text/javascript" src="../static/js/js9.js"></script>
    </body>
</html>                             